/* styles.css */

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #1c1c1c;
    color: #fff;
    padding: 20px;
    width: 100%;
    margin: 0;
    text-align: center;
    align-items: center;
  }
  
  .logo-interestelar {
    width: 100%;
    max-width: 400px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .column {
    flex: 1;
    margin: 10px auto;
    text-align: center;
  }
  .column a {
    color: #fff;
    text-decoration: none;
  }
  .social-icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  
  .social-icons a {
    margin: 0 10px;
  }
  
  /* Estilos para dispositivos móviles */
  @media (max-width: 768px) {
    .footer{
        flex-direction: column;
    }
    .column {
      flex: 1;
      margin: 10px auto;
      text-align: center;
      justify-content: center;
      width: 100%; 
    }
    
    .social-icons {
      margin-top: 10px;
      display: flex;
      justify-content: center;
    }
  
    .social-icons a {
      margin: 5px; /* Espaciado entre los iconos en dispositivos móviles */
    }
  }
  