.container-wrapper {
  display: flex;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container-curses {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  transition: box-shadow 0.3s;
  width: 400px;
  overflow: hidden;
  margin-bottom: 10px;
  cursor: pointer;
}

.container-curses .content {
  display: none;
}

.container-curses:hover {
  box-shadow: 0px 0px 10px rgba(64, 177, 218, 0.3);
}

.container-curses:hover .content {
  display: block;
}

@media (max-width: 768px) {
  .container-curses {
    min-width: 100%;
  }
}
