.title{
    color: azure;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    margin: 0 5% auto 5%;
    
}
.container-titulo{
    display: flex;
    align-items: center;
}
.lineas{
    width: 100%;
    height: 0;
    border: 10px solid azure;

    
}
#main{
    padding: 5%;
    margin-top: 5%;
    width: 100%; 
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
}