.header {
  background-color: transparent;
  color: #fff;
  padding: 5px 0;
  border-bottom: 2px solid #1c1c1c;
}

.container {
  height: 100px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  overflow: hidden;
}

.user-image-container {
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.user-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.user-image:hover {
  transform: scale(1.2);
}

.user .user-name {
  display: none;
  align-items: center;
  margin-left: 10px;
  font-size: 20px;
  transition: opacity 0.3s ease-in-out;
}

.user:hover .user-name {
  display: flex;
  opacity: 1;
}

.logo {
  max-width: 100%;
  height: 200px;
}

@media (max-width: 480px) {
  .container {
    height: auto;
    flex-direction: column;
    text-align: center;
  }

  .header .logo {
    font-size: 36px;
  }

  .user-name {
    display: flex;
    align-items: center;
    margin: 5px 0;
    font-size: 20px;
    transform: translateX(0);
  }

  .user-image-container {
    width: 80px;
    height: 80px;
  }
}
