/* styles.css */

/* Estilos para el encabezado (header) */
.header {
  background-color: transparent; /* Fondo transparente */
  color: #fff; /* Cambia el color del texto según tus preferencias */
  padding: 5px 0; /* Espaciado interior superior e inferior más pequeño */
  border-bottom: 2px solid #3cd6eb; /* Borde en la parte inferior de color */
}

/* Contenedor interno */
.container {
  height: 100px;
  max-width: 1200px; /* Ancho máximo del contenido */
  margin: 0 auto; /* Centrar el contenido en el viewport */
  display: flex; /* Utilizar el modelo de caja flexible para alinear elementos */
  justify-content: space-between; /* Espacio entre los elementos flexibles */
  align-items: center; /* Centrar verticalmente los elementos flexibles */
  padding: 0 20px; /* Espaciado interior izquierdo y derecho */
  overflow: hidden;
}

/* Estilo para la imagen del usuario */
.user-image-container {
  width: 80px; /* Tamaño del contenedor de la imagen del usuario (aumentado) */
  height: 80px; /* Tamaño del contenedor de la imagen del usuario (aumentado) */
  background-color: #ffffff; /* Color de fondo del marco */
  border-radius: 50%; /* Forma redonda para el marco de la imagen */
  display: flex; /* Utilizar el modelo de caja flexible para centrar la imagen */
  justify-content: center; /* Centrar horizontalmente la imagen */
  align-items: center; /* Centrar verticalmente la imagen */
  cursor: pointer; /* Cambiar el cursor a un puntero al hacer clic */
  transition: transform 0.3s ease-in-out; /* Efecto de escala al hacer clic */
}

.user-image {
  width: 70px; /* Tamaño de la imagen del usuario (aumentado) */
  height: 70px; /* Tamaño de la imagen del usuario (aumentado) */
  border-radius: 50%; /* Forma redonda para la imagen del usuario */
}

.user-image:hover {
  transform: scale(1.2); /* Aumentar el tamaño al pasar el mouse sobre la imagen */
}

/* Estilos para el nombre del usuario en el modo normal */
.user .user-name {
  display: none; /* Inicialmente, ocultar el nombre del usuario */
  align-items: center; /* Centrar verticalmente el nombre y la imagen */
  margin-left: 10px; /* Espacio entre la imagen y el nombre */
  font-size: 20px; /* Tamaño de la fuente del nombre del usuario (aumentado) */
  transition: opacity 0.3s ease-in-out; /* Efecto de transición en la opacidad del nombre */
}

.user:hover .user-name {
  display: flex; /* Mostrar el nombre del usuario al pasar el mouse sobre la imagen */
  opacity: 1; /* Hacer que el nombre sea completamente visible */
}

/* Estilos para el logo */
.logo {
  max-width: 100%; /* Ancho máximo para que la imagen del logo sea responsive */
  height: 200px; /* Altura automática para mantener la proporción original */
}

/* Estilos para pantallas pequeñas (menos de 480px, típicamente un celular) */
@media (max-width: 480px) {
  .container {
    height: auto;
    flex-direction: column; /* Cambiar a dirección de columna */
    text-align: center; /* Centrar el contenido verticalmente */
  }

  .header .logo {
    font-size: 36px; /* Tamaño de fuente más grande para el logo en pantallas pequeñas */
  }

  .user-name {
    display: flex; /* Mostrar el nombre del usuario en modo responsivo */
    align-items: center; /* Centrar verticalmente el nombre */
    margin: 5px 0; /* Espaciado superior e inferior para el nombre del usuario */
    font-size: 20px; /* Tamaño de la fuente del nombre del usuario (aumentado) */
    transform: translateX(0); /* Mantener el nombre centrado en modo responsivo */
  }

  .user-image-container {
    width: 80px; /* Ancho del contenedor de la imagen del usuario (mantenido) */
    height: 80px; /* Altura del contenedor de la imagen del usuario (mantenido) */
  }
}
