/* Sidebar.css */

/* Estilos para la barra lateral */
.sidebar {
    width: 0; /* Ancho inicial de 0 (cerrado) */
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #444;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1; /* Asegura que la barra lateral esté encima del contenido */
  }
  
  .sidebar.open {
    width: 250px; /* Ancho cuando está abierto */
  }
  
  /* Estilos para la cabecera de la barra lateral */
  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #444;
    color: azure;
  }
  
  /* Estilos para el botón de alternar */
  .menu-toggle {
    background-color: #444;
    color: azure;
    border: none;
    cursor: pointer;
  }

  /* Estilos para el contenido de la barra lateral */
  .content {
    padding: 20px;
  }
  
  /* Estilos para la lista de menú */
  .menu-list {
    list-style: none;
    padding: 0;
  }
  
  .menu-list li {
    padding: 10px 0;
    color: azure;
  }
  
  /* Estilos para el botón de logout */
  .logout {
    font-size: 400%;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 10px;
    background-color: #444;
    color: azure;
  }
